body {
  font-family: "Roboto", sans-serif;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 80px;
  color: #ffffff;
  margin: 20px 0 10px;
  font-weight: 700;
  text-align: center;
  line-height: 97.52px;
}
h3 {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 40px;
  width: 65%;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 34.13px;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: grab;
  height: 505px;
  padding-block: 30px;
  margin-top: 40px;
}
.carousel:active {
  cursor: grabbing;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}
.card {
  width: 460px;
  height: 365px;
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 40px 30px 50px 30px;
  margin: 0 16px;
  background-color: #282828;
  border-radius: 20px;
  border: 1px solid #484848;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  color: #858585;
  transform: none;
}
.card-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-inline: auto;
}
.card-content {
  padding: 16px;
}
.card-title {
  font-weight: 500;
  font-size: 22px;
  color: #a9a9a9;
  text-align: center;
}
.card-description {
  font-size: 22px;
  font-family: Poppins;
  font-weight: 400;
  color: #d4d4d4;
  line-height: 33px;
}
.card:nth-child(1) {
  transform: translateY(-20px);
}
.card:nth-child(2) {
  transform: translateY(30px);
}
.card:nth-child(3) {
  transform: translateY(-20px);
}
.card:nth-child(4) {
  transform: translateY(30px);
}
.card:nth-child(5) {
  transform: translateY(-20px);
}

@media (max-width: 768px) {
  h1 {
    font-size: 10vw;
  }
  h3 {
    width: 100%;
    font-size: 5vw;
  }
  .carousel {
    height: auto;
    margin-top: 20px;
  }
  .card {
    flex: 0 0 80%;
    max-width: 80%;
    height: auto;
    padding: 20px;
    margin: 0 5px;
  }
  .card-description {
    line-height: normal;
    font-size: 18px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carousel-inner {
  animation: 35s slide infinite linear;
}
.carousel:hover .carousel-inner {
  animation-play-state: paused;
}
